@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Khmer:700');

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.logo img{
    width: 5rem;
    height: 5rem;
}

.usuario{
    font-size: large;
    text-decoration: none;
    color: white;
    padding-left: 2REM;
    font-family: 'Noto Sans Khmer';
}

body{
    background-color: #292929;
}

.search-box{
    align-self: center;
    padding-left: 1rem;
    padding-top: 0.75rem;
    width: 18rem;
    height: 2rem;
    border-radius: 50px;
    background-color: #151515;
    border-radius: 50px;
    border: none;
}

.search-box input{
    background: transparent;
    border: 0;
    outline: none;
    font-size: larger;
    color: white;
    width: 92.5%;
}

::placeholder{
    color: #464141;
}

.perfil a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto_inicio{
    padding-left: 10rem;
    padding-top: 5rem;
    font-size: larger;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.musica1{
    padding-left: 5rem;
    margin: 2rem, 2rem, 2rem, 2rem;
}

.informacoesmusica1{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.musica2{
    margin: 2rem, 2rem, 2rem, 2rem;
}

.informacoesmusica2{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.musica3{
    left: 20rem;
    margin: 2rem, 2rem, 2rem, 2rem;
}

.informacoesmusica3{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.bloco1 {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 15rem;
    border-radius: 10%;
    justify-content: start;
    background-color: #151515;
    margin: 2rem, 2rem, 2rem, 2rem;
}

.sobre_voce{
    padding-left: 3rem;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.informacoesvoce1{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.informacoesvoce2{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.informacoesvoce3{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.bloco2 {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 15rem;
    border-radius: 10%;
    justify-content: start;
    background-color: #151515;
    margin: 2rem, 2rem, 2rem, 2rem;
}

.seus_amigos{
    padding-left: 3rem;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.amigos{
    padding-left: 1rem;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.perfil_amigo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil_amigo img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.amigo{
    font-size: smaller;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
}

.perfil_abaixo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil_abaixo img{
    padding-bottom: 8rem;
    width: 4rem;
    height: 4rem;
}

.divisao {
    display: flex;
    flex-direction: row;
}

.bloco3{
    width: 60rem;
    height: 15rem;
    border-radius: 10%;
    justify-content: start;
    background-color: #151515;
}

.usuario_abaixo{
    padding-top: 2rem;
    font-size: smaller;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
    text-align: center;
}

.ultima_avaliada img{
    width: 5rem;
    height: 5rem;
}

.info_ultima_avaliada{
    padding-top: 2rem;
    padding-right: 2rem;
    font-size: smaller;
    text-decoration: none;
    color: white;
    font-family: 'Noto Sans Khmer';
    text-align: center;
}

.estrelas img{
    padding-top: 2rem;
    width: 10rem;
    height: 2rem;
}
